<div class="contacts-grid">
    <p style="display: inline;" *ngIf="errorMessage.length != 0" class="error-message">{{ errorMessage }}</p>
    <div style="display: flex; justify-content: center;">
        <button (click)="this.router.navigate(['/add']);">Add new contact</button>
    </div>

    <div class="contacts-row contactsHeaderRow">
        <div class="contact-col"><p>Controls</p></div>
        <div class="contact-col"><p>First Name</p></div>
        <div class="contact-col"><p>Last Name</p></div>
        <div class="contact-col"><p>City</p></div>
        <div class="contact-col"><p>State</p></div>
        <div class="contact-col"><p>Phone Number</p></div>
    </div>

    <div class="contacts-row" *ngFor="let contact of contactsArr">
        <div class="contact-col contact-col1 controls">
            <button (click)="this.router.navigate(['/edit/' + contact.id]);">Edit</button>
            <button (click)="deleteContact(contact.id)">Delete</button>
        </div>
        <div class="contact-col"><p>{{ contact.firstName }}</p></div>
        <div class="contact-col"><p>{{ contact.lastName }}</p></div>
        <div class="contact-col"><p>{{ contact.address.city }}</p></div>
        <div class="contact-col"><p>{{ getStateName(contact.address.state) }}</p></div>
        <div class="contact-col"><p>{{ contact.phoneNumber }}</p></div>
    </div>
</div>